.searchInputs {
    margin-top: 105px;
    display: flex;
  }
  
  .search input {
    background-color: whitesmoke;
    border: 5;
    border-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 18px;
    padding: 15px;
    height: 80px;
    width: 600px;
  }
  .dataResult {
    border-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 18px;
    padding: 15px;
    height: 100px;
    width: 600px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
.dataResult .dataItem {
    border-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  #clearBtn {
    cursor: pointer;
  }
  